<footer class="footer">
  <div class="footer__top">
    <div class="footer__copyleft">

      <p>
        {{i18n 'footerText1'}} <a href="https://antora.org/" target="_blank">Antora</a>. {{i18n 'footerText2'}}
      </p>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
        <img alt={{i18n 'CCLicenseAlt'}} src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
      </a>
    </div>
  </div>
  <div class="footer__bottom">
    <a href="http://ajuntament.barcelona.cat" class="footer__cityhall">
      <img src="{{uiRootPath}}/img/ajuntament.png" alt="Ajuntament de Barcelona" />
    </a>

    <ul class="footer__legal">
      <li>
        <a href={{i18n 'footerLegalDisclaimerUrl'}} target="_blank">
          {{i18n 'footerLegalDisclaimer'}}
        </a>
      </li>
    </ul>

  </div>
</footer>