{{#if page.attributes.debug}}
  <div class="debug-row">
    <div id="debug-left" class="debug-column"></div>
    <div id="debug-right" class="debug-column"></div>
  </div>
  <div id="dest"></div>
  <script type="text/javascript" src="{{uiRootPath}}/js/vendor/renderjson.js"></script>
  <script>
   document.getElementById("debug-left").appendChild(
     renderjson.set_show_to_level(1).set_max_string_length(80)({{{stringify page}}})
   )
   document.getElementById("debug-right").appendChild(
     renderjson.set_show_to_level(1).set_max_string_length(80)({{{stringify site}}})
   )
  </script>
{{/if}}
<header class="header" role="banner">
  {{#ifEquals page.attributes.lang "en"}}
  {{> cityhallbar-en}}
  {{/ifEquals}}
  {{#ifEquals page.attributes.lang "es"}}
  {{> cityhallbar-es}}
  {{/ifEquals}}
  {{#ifEquals page.attributes.lang "ca"}}
  {{> cityhallbar-ca}}
  {{/ifEquals}}
  {{#ifEquals page.attributes.lang ""}}
  {{> cityhallbar-en}}
  {{/ifEquals}}

  <nav class="navbar">
    <a class="navbar__logo" href="{{siteRootPath}}/{{{or page.attributes.lang 'en'}}}/">
      {{site.title}}&nbsp;<span class="navbar__beta">Beta</span>
    </a>
    <ul class="navbar__links">
      {{!-- <li>
        <a href="#">Docs</a>
      </li>
      --}}
      <li>
        <a href="{{siteRootPath}}/manifesto/">{{i18n 'manifesto'}}</a>
      </li>
      <li>
        <a href="https://github.com/AjuntamentdeBarcelona" target="_blank">GitHub</a>
      </li>
    </ul>
    {{!-- <ul class="navbar__lang">
      <li>
        <a href="{{siteRootPath}}/" lang="en" aria-label="English">EN</a>
      </li>
      <li>
        <a href="{{siteRootPath}}/es/" lang="es-ES" aria-label="Castellano">ES</a>
      </li>
      <li>
        <a href="{{siteRootPath}}/ca/" lang="ca-ES" aria-label="Català">CA</a>
      </li>
    </ul>

    <a href="http://ajuntament.barcelona.cat" class="navbar__cityhall">
      <img src="{{uiRootPath}}/img/logo.png" alt="Ajuntament de Barcelona" />
    </a> --}}
  </nav>
</header>
