<div class="landing-intro">
  <div class="landing-intro__container">
    <h2 class="landing-intro__title">{{i18n 'landingIntroTitle'}}</h2>
    <p>{{i18n 'landingIntroP1'}}</p>
    <p>{{i18n 'landingIntroP2'}}</p>

    <div class="landing-intro__cta">
      <div>{{i18n 'landingCtaText'}}</div>
      <a href={{i18n 'landingPdfUrl'}} class="btn btn--secondary" aria-label={{i18n 'landingCtaText'}}>
        {{i18n 'landingCtaAction'}}
      </a>
    </div>
  </div>
</div>