<div class="toolbar" role="navigation">
  {{#if site.homeUrl}}
  {{!-- <a href="{{relativize page.url site.homeUrl}}" aria-label="Home" class="home-link{{#if page.home}} is-current{{/if}}">
    <i class="fas fa-home"></i>
  </a> --}}
  {{/if}}
  {{> breadcrumbs}}
  {{> page-versions}}
  {{#if page.editUrl}}
  <a href="{{page.editUrl}}" class="edit-this-page btn btn--secondary btn--mini" title={{i18n 'editGitTitle'}}
    aria-label={{i18n 'editGitTitle'}}>
    <i class="far fa-edit"></i>{{i18n 'editGit'}}</a>
  {{/if}}
</div>