<!DOCTYPE html>
<html lang="{{page.attributes.lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{detag (or page.title 'Untitled')}}}</title>
    {{#if page.description}}
      <meta name="description" content="{{page.description}}">
    {{/if}}
    {{#if page.keywords}}
      <meta name="keywords" content="{{page.keywords}}">
    {{/if}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/pdf.css">
  </head>
  <body class="article">
    {{#if page.title}}
      <h1>{{{page.title}}}</h1>
    {{/if}}
    {{{addPageNumbersToToc page.contents}}}
  </body>
</html>
